@font-face {
  font-family: 'icohv';
  src:
    url('fonts/icohv.ttf?f98xsk') format('truetype'),
    url('fonts/icohv.woff?f98xsk') format('woff'),
    url('fonts/icohv.svg?f98xsk#icohv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icohv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-chat:before {
  content: "\e900";
}
.ico-chat-alt-stroke:before {
  content: "\e901";
}
.ico-chat-alt-fill:before {
  content: "\e902";
}
.ico-comment-alt1-stroke:before {
  content: "\e903";
}
.ico-comment:before {
  content: "\e904";
}
.ico-comment-stroke:before {
  content: "\e905";
}
.ico-comment-fill:before {
  content: "\e906";
}
.ico-comment-alt2-stroke:before {
  content: "\e907";
}
.ico-comment-alt2-fill:before {
  content: "\e908";
}
.ico-checkmark1:before {
  content: "\e909";
}
.ico-check-alt:before {
  content: "\e90a";
}
.ico-x:before {
  content: "\e90b";
}
.ico-x-altx-alt:before {
  content: "\e90c";
}
.ico-denied:before {
  content: "\e90d";
}
.ico-cursor:before {
  content: "\e90e";
}
.ico-rss1:before {
  content: "\e90f";
}
.ico-rss-alt:before {
  content: "\e910";
}
.ico-wrench1:before {
  content: "\e911";
}
.ico-dial:before {
  content: "\e912";
}
.ico-cog1:before {
  content: "\e913";
}
.ico-calendar1:before {
  content: "\e914";
}
.ico-calendar-alt-stroke:before {
  content: "\e915";
}
.ico-calendar-alt-fill:before {
  content: "\e916";
}
.ico-share1:before {
  content: "\e917";
}
.ico-mail1:before {
  content: "\e918";
}
.ico-heart-stroke:before {
  content: "\e919";
}
.ico-heart-fill:before {
  content: "\e91a";
}
.ico-movie:before {
  content: "\e91b";
}
.ico-document-alt-stroke:before {
  content: "\e91c";
}
.ico-document-alt-fill:before {
  content: "\e91d";
}
.ico-document-stroke:before {
  content: "\e91e";
}
.ico-document-fill:before {
  content: "\e91f";
}
.ico-plus1:before {
  content: "\e920";
}
.ico-plus-alt:before {
  content: "\e921";
}
.ico-minus1:before {
  content: "\e922";
}
.ico-minus-alt:before {
  content: "\e923";
}
.ico-pin:before {
  content: "\e924";
}
.ico-link1:before {
  content: "\e925";
}
.ico-bolt:before {
  content: "\e926";
}
.ico-move:before {
  content: "\e927";
}
.ico-move-alt1:before {
  content: "\e928";
}
.ico-move-alt2:before {
  content: "\e929";
}
.ico-equalizer1:before {
  content: "\e92a";
}
.ico-award-fill:before {
  content: "\e92b";
}
.ico-award-stroke:before {
  content: "\e92c";
}
.ico-magnifying-glass:before {
  content: "\e92d";
}
.ico-trash-stroke:before {
  content: "\e92e";
}
.ico-trash-fill:before {
  content: "\e92f";
}
.ico-beaker-alt:before {
  content: "\e930";
}
.ico-beaker:before {
  content: "\e931";
}
.ico-key-stroke:before {
  content: "\e932";
}
.ico-key-fill:before {
  content: "\e933";
}
.ico-new-window:before {
  content: "\e934";
}
.ico-lightbulb:before {
  content: "\e935";
}
.ico-spin-alt:before {
  content: "\e936";
}
.ico-spin:before {
  content: "\e937";
}
.ico-curved-arrow:before {
  content: "\e938";
}
.ico-undo1:before {
  content: "\e939";
}
.ico-reload:before {
  content: "\e93a";
}
.ico-reload-alt:before {
  content: "\e93b";
}
.ico-loop1:before {
  content: "\e93c";
}
.ico-loop-alt1:before {
  content: "\e93d";
}
.ico-loop-alt2:before {
  content: "\e93e";
}
.ico-loop-alt3:before {
  content: "\e93f";
}
.ico-loop-alt4:before {
  content: "\e940";
}
.ico-transfer:before {
  content: "\e941";
}
.ico-move-vertical:before {
  content: "\e942";
}
.ico-move-vertical-alt1:before {
  content: "\e943";
}
.ico-move-vertical-alt2:before {
  content: "\e944";
}
.ico-move-horizontal:before {
  content: "\e945";
}
.ico-move-horizontal-alt1:before {
  content: "\e946";
}
.ico-move-horizontal-alt2:before {
  content: "\e947";
}
.ico-arrow-left1:before {
  content: "\e948";
}
.ico-arrow-left-alt1:before {
  content: "\e949";
}
.ico-arrow-left-alt2:before {
  content: "\e94a";
}
.ico-arrow-right1:before {
  content: "\e94b";
}
.ico-arrow-right-alt1:before {
  content: "\e94c";
}
.ico-arrow-right-alt2:before {
  content: "\e94d";
}
.ico-arrow-up1:before {
  content: "\e94e";
}
.ico-arrow-up-alt1:before {
  content: "\e94f";
}
.ico-arrow-up-alt2:before {
  content: "\e950";
}
.ico-arrow-down1:before {
  content: "\e951";
}
.ico-arrow-down-alt1:before {
  content: "\e952";
}
.ico-arrow-down-alt2:before {
  content: "\e953";
}
.ico-cd:before {
  content: "\e954";
}
.ico-steering-wheel:before {
  content: "\e955";
}
.ico-microphone:before {
  content: "\e956";
}
.ico-headphones1:before {
  content: "\e957";
}
.ico-volume:before {
  content: "\e958";
}
.ico-volume-mute1:before {
  content: "\e959";
}
.ico-play1:before {
  content: "\e95a";
}
.ico-pause1:before {
  content: "\e95b";
}
.ico-stop1:before {
  content: "\e95c";
}
.ico-eject1:before {
  content: "\e95d";
}
.ico-first1:before {
  content: "\e95e";
}
.ico-last1:before {
  content: "\e95f";
}
.ico-play-alt:before {
  content: "\e960";
}
.ico-fullscreen-exit:before {
  content: "\e961";
}
.ico-fullscreen-exit-alt:before {
  content: "\e962";
}
.ico-fullscreen:before {
  content: "\e963";
}
.ico-fullscreen-alt:before {
  content: "\e964";
}
.ico-iphone:before {
  content: "\e965";
}
.ico-battery-empty:before {
  content: "\e966";
}
.ico-battery-half:before {
  content: "\e967";
}
.ico-battery-full:before {
  content: "\e968";
}
.ico-battery-charging:before {
  content: "\e969";
}
.ico-compass1:before {
  content: "\e96a";
}
.ico-box:before {
  content: "\e96b";
}
.ico-folder-stroke:before {
  content: "\e96c";
}
.ico-folder-fill:before {
  content: "\e96d";
}
.ico-at:before {
  content: "\e96e";
}
.ico-ampersand:before {
  content: "\e96f";
}
.ico-info1:before {
  content: "\e970";
}
.ico-question-mark:before {
  content: "\e971";
}
.ico-pilcrow1:before {
  content: "\e972";
}
.ico-hash:before {
  content: "\e973";
}
.ico-left-quote:before {
  content: "\e974";
}
.ico-right-quote:before {
  content: "\e975";
}
.ico-left-quote-alt:before {
  content: "\e976";
}
.ico-right-quote-alt:before {
  content: "\e977";
}
.ico-article:before {
  content: "\e978";
}
.ico-read-more:before {
  content: "\e979";
}
.ico-list1:before {
  content: "\e97a";
}
.ico-list-nested:before {
  content: "\e97b";
}
.ico-book1:before {
  content: "\e97c";
}
.ico-book-alt:before {
  content: "\e97d";
}
.ico-book-alt2:before {
  content: "\e97e";
}
.ico-pen1:before {
  content: "\e97f";
}
.ico-pen-alt-stroke:before {
  content: "\e980";
}
.ico-pen-alt-fill:before {
  content: "\e981";
}
.ico-pen-alt2:before {
  content: "\e982";
}
.ico-brush:before {
  content: "\e983";
}
.ico-brush-alt:before {
  content: "\e984";
}
.ico-eyedropper1:before {
  content: "\e985";
}
.ico-layers-alt:before {
  content: "\e986";
}
.ico-layers:before {
  content: "\e987";
}
.ico-image1:before {
  content: "\e988";
}
.ico-camera1:before {
  content: "\e989";
}
.ico-aperture:before {
  content: "\e98a";
}
.ico-aperture-alt:before {
  content: "\e98b";
}
.ico-chart:before {
  content: "\e98c";
}
.ico-chart-alt:before {
  content: "\e98d";
}
.ico-bars:before {
  content: "\e98e";
}
.ico-bars-alt:before {
  content: "\e98f";
}
.ico-eye1:before {
  content: "\e990";
}
.ico-user1:before {
  content: "\e991";
}
.ico-home1:before {
  content: "\e992";
}
.ico-clock1:before {
  content: "\e993";
}
.ico-lock-stroke:before {
  content: "\e994";
}
.ico-lock-fill:before {
  content: "\e995";
}
.ico-unlock-stroke:before {
  content: "\e996";
}
.ico-unlock-fill:before {
  content: "\e997";
}
.ico-tag-stroke:before {
  content: "\e998";
}
.ico-tag-fill:before {
  content: "\e999";
}
.ico-sun-stroke:before {
  content: "\e99a";
}
.ico-sun-fill:before {
  content: "\e99b";
}
.ico-moon-stroke:before {
  content: "\e99c";
}
.ico-moon-fill:before {
  content: "\e99d";
}
.ico-cloud1:before {
  content: "\e99e";
}
.ico-rain:before {
  content: "\e99f";
}
.ico-umbrella:before {
  content: "\e9a0";
}
.ico-star:before {
  content: "\e9a1";
}
.ico-map-pin-stroke:before {
  content: "\e9a2";
}
.ico-map-pin-fill:before {
  content: "\e9a3";
}
.ico-map-pin-alt:before {
  content: "\e9a4";
}
.ico-target1:before {
  content: "\e9a5";
}
.ico-download1:before {
  content: "\e9a6";
}
.ico-upload1:before {
  content: "\e9a7";
}
.ico-cloud-download1:before {
  content: "\e9a8";
}
.ico-cloud-upload1:before {
  content: "\e9a9";
}
.ico-fork:before {
  content: "\e9aa";
}
.ico-paperclip:before {
  content: "\e9ab";
}
.ico-home:before {
  content: "\e9ac";
}
.ico-home2:before {
  content: "\e9ad";
}
.ico-home3:before {
  content: "\e9ae";
}
.ico-office:before {
  content: "\e9af";
}
.ico-newspaper:before {
  content: "\e9b0";
}
.ico-pencil:before {
  content: "\e9b1";
}
.ico-pencil2:before {
  content: "\e9b2";
}
.ico-quill:before {
  content: "\e9b3";
}
.ico-pen:before {
  content: "\e9b4";
}
.ico-blog:before {
  content: "\e9b5";
}
.ico-eyedropper:before {
  content: "\e9b6";
}
.ico-droplet:before {
  content: "\e9b7";
}
.ico-paint-format:before {
  content: "\e9b8";
}
.ico-image:before {
  content: "\e9b9";
}
.ico-images:before {
  content: "\e9ba";
}
.ico-camera:before {
  content: "\e9bb";
}
.ico-headphones:before {
  content: "\e9bc";
}
.ico-music:before {
  content: "\e9bd";
}
.ico-play:before {
  content: "\e9be";
}
.ico-film:before {
  content: "\e9bf";
}
.ico-video-camera:before {
  content: "\e9c0";
}
.ico-dice:before {
  content: "\e9c1";
}
.ico-pacman:before {
  content: "\e9c2";
}
.ico-spades:before {
  content: "\e9c3";
}
.ico-clubs:before {
  content: "\e9c4";
}
.ico-diamonds:before {
  content: "\e9c5";
}
.ico-bullhorn:before {
  content: "\e9c6";
}
.ico-connection:before {
  content: "\e9c7";
}
.ico-podcast:before {
  content: "\e9c8";
}
.ico-feed:before {
  content: "\e9c9";
}
.ico-mic:before {
  content: "\e9ca";
}
.ico-book:before {
  content: "\e9cb";
}
.ico-books:before {
  content: "\e9cc";
}
.ico-library:before {
  content: "\e9cd";
}
.ico-file-text:before {
  content: "\e9ce";
}
.ico-profile:before {
  content: "\e9cf";
}
.ico-file-empty:before {
  content: "\e9d0";
}
.ico-files-empty:before {
  content: "\e9d1";
}
.ico-file-text2:before {
  content: "\e9d2";
}
.ico-file-picture:before {
  content: "\e9d3";
}
.ico-file-music:before {
  content: "\e9d4";
}
.ico-file-play:before {
  content: "\e9d5";
}
.ico-file-video:before {
  content: "\e9d6";
}
.ico-file-zip:before {
  content: "\e9d7";
}
.ico-copy:before {
  content: "\e9d8";
}
.ico-paste:before {
  content: "\e9d9";
}
.ico-stack:before {
  content: "\e9da";
}
.ico-folder:before {
  content: "\e9db";
}
.ico-folder-open:before {
  content: "\e9dc";
}
.ico-folder-plus:before {
  content: "\e9dd";
}
.ico-folder-minus:before {
  content: "\e9de";
}
.ico-folder-download:before {
  content: "\e9df";
}
.ico-folder-upload:before {
  content: "\e9e0";
}
.ico-price-tag:before {
  content: "\e9e1";
}
.ico-price-tags:before {
  content: "\e9e2";
}
.ico-barcode:before {
  content: "\e9e3";
}
.ico-qrcode:before {
  content: "\e9e4";
}
.ico-ticket:before {
  content: "\e9e5";
}
.ico-cart:before {
  content: "\e9e6";
}
.ico-coin-dollar:before {
  content: "\e9e7";
}
.ico-coin-euro:before {
  content: "\e9e8";
}
.ico-coin-pound:before {
  content: "\e9e9";
}
.ico-coin-yen:before {
  content: "\e9ea";
}
.ico-credit-card:before {
  content: "\e9eb";
}
.ico-calculator:before {
  content: "\e9ec";
}
.ico-lifebuoy:before {
  content: "\e9ed";
}
.ico-phone:before {
  content: "\e9ee";
}
.ico-phone-hang-up:before {
  content: "\e9ef";
}
.ico-address-book:before {
  content: "\e9f0";
}
.ico-envelop:before {
  content: "\e9f1";
}
.ico-pushpin:before {
  content: "\e9f2";
}
.ico-location:before {
  content: "\e9f3";
}
.ico-location2:before {
  content: "\e9f4";
}
.ico-compass:before {
  content: "\e9f5";
}
.ico-compass2:before {
  content: "\e9f6";
}
.ico-map:before {
  content: "\e9f7";
}
.ico-map2:before {
  content: "\e9f8";
}
.ico-history:before {
  content: "\e9f9";
}
.ico-clock:before {
  content: "\e9fa";
}
.ico-clock2:before {
  content: "\e9fb";
}
.ico-alarm:before {
  content: "\e9fc";
}
.ico-bell:before {
  content: "\e9fd";
}
.ico-stopwatch:before {
  content: "\e9fe";
}
.ico-calendar:before {
  content: "\e9ff";
}
.ico-printer:before {
  content: "\ea00";
}
.ico-keyboard:before {
  content: "\ea01";
}
.ico-display:before {
  content: "\ea02";
}
.ico-laptop:before {
  content: "\ea03";
}
.ico-mobile:before {
  content: "\ea04";
}
.ico-mobile2:before {
  content: "\ea05";
}
.ico-tablet:before {
  content: "\ea06";
}
.ico-tv:before {
  content: "\ea07";
}
.ico-drawer:before {
  content: "\ea08";
}
.ico-drawer2:before {
  content: "\ea09";
}
.ico-box-add:before {
  content: "\ea0a";
}
.ico-box-remove:before {
  content: "\ea0b";
}
.ico-download:before {
  content: "\ea0c";
}
.ico-upload:before {
  content: "\ea0d";
}
.ico-floppy-disk:before {
  content: "\ea0e";
}
.ico-drive:before {
  content: "\ea0f";
}
.ico-database:before {
  content: "\ea10";
}
.ico-undo:before {
  content: "\ea11";
}
.ico-redo:before {
  content: "\ea12";
}
.ico-undo2:before {
  content: "\ea13";
}
.ico-redo2:before {
  content: "\ea14";
}
.ico-forward:before {
  content: "\ea15";
}
.ico-reply:before {
  content: "\ea16";
}
.ico-bubble:before {
  content: "\ea17";
}
.ico-bubbles:before {
  content: "\ea18";
}
.ico-bubbles2:before {
  content: "\ea19";
}
.ico-bubble2:before {
  content: "\ea1a";
}
.ico-bubbles3:before {
  content: "\ea1b";
}
.ico-bubbles4:before {
  content: "\ea1c";
}
.ico-user:before {
  content: "\ea1d";
}
.ico-users:before {
  content: "\ea1e";
}
.ico-user-plus:before {
  content: "\ea1f";
}
.ico-user-minus:before {
  content: "\ea20";
}
.ico-user-check:before {
  content: "\ea21";
}
.ico-user-tie:before {
  content: "\ea22";
}
.ico-quotes-left:before {
  content: "\ea23";
}
.ico-quotes-right:before {
  content: "\ea24";
}
.ico-hour-glass:before {
  content: "\ea25";
}
.ico-spinner:before {
  content: "\ea26";
}
.ico-spinner2:before {
  content: "\ea27";
}
.ico-spinner3:before {
  content: "\ea28";
}
.ico-spinner4:before {
  content: "\ea29";
}
.ico-spinner5:before {
  content: "\ea2a";
}
.ico-spinner6:before {
  content: "\ea2b";
}
.ico-spinner7:before {
  content: "\ea2c";
}
.ico-spinner8:before {
  content: "\ea2d";
}
.ico-spinner9:before {
  content: "\ea2e";
}
.ico-spinner10:before {
  content: "\ea2f";
}
.ico-spinner11:before {
  content: "\ea30";
}
.ico-binoculars:before {
  content: "\ea31";
}
.ico-search:before {
  content: "\ea32";
}
.ico-zoom-in:before {
  content: "\ea33";
}
.ico-zoom-out:before {
  content: "\ea34";
}
.ico-enlarge:before {
  content: "\ea35";
}
.ico-shrink:before {
  content: "\ea36";
}
.ico-enlarge2:before {
  content: "\ea37";
}
.ico-shrink2:before {
  content: "\ea38";
}
.ico-key:before {
  content: "\ea39";
}
.ico-key2:before {
  content: "\ea3a";
}
.ico-lock:before {
  content: "\ea3b";
}
.ico-unlocked:before {
  content: "\ea3c";
}
.ico-wrench:before {
  content: "\ea3d";
}
.ico-equalizer:before {
  content: "\ea3e";
}
.ico-equalizer2:before {
  content: "\ea3f";
}
.ico-cog:before {
  content: "\ea40";
}
.ico-cogs:before {
  content: "\ea41";
}
.ico-hammer:before {
  content: "\ea42";
}
.ico-magic-wand:before {
  content: "\ea43";
}
.ico-aid-kit:before {
  content: "\ea44";
}
.ico-bug:before {
  content: "\ea45";
}
.ico-pie-chart:before {
  content: "\ea46";
}
.ico-stats-dots:before {
  content: "\ea47";
}
.ico-stats-bars:before {
  content: "\ea48";
}
.ico-stats-bars2:before {
  content: "\ea49";
}
.ico-trophy:before {
  content: "\ea4a";
}
.ico-gift:before {
  content: "\ea4b";
}
.ico-glass:before {
  content: "\ea4c";
}
.ico-glass2:before {
  content: "\ea4d";
}
.ico-mug:before {
  content: "\ea4e";
}
.ico-spoon-knife:before {
  content: "\ea4f";
}
.ico-leaf:before {
  content: "\ea50";
}
.ico-rocket:before {
  content: "\ea51";
}
.ico-meter:before {
  content: "\ea52";
}
.ico-meter2:before {
  content: "\ea53";
}
.ico-hammer2:before {
  content: "\ea54";
}
.ico-fire:before {
  content: "\ea55";
}
.ico-lab:before {
  content: "\ea56";
}
.ico-magnet:before {
  content: "\ea57";
}
.ico-bin:before {
  content: "\ea58";
}
.ico-bin2:before {
  content: "\ea59";
}
.ico-briefcase:before {
  content: "\ea5a";
}
.ico-airplane:before {
  content: "\ea5b";
}
.ico-truck:before {
  content: "\ea5c";
}
.ico-road:before {
  content: "\ea5d";
}
.ico-accessibility:before {
  content: "\ea5e";
}
.ico-target:before {
  content: "\ea5f";
}
.ico-shield:before {
  content: "\ea60";
}
.ico-power:before {
  content: "\ea61";
}
.ico-switch:before {
  content: "\ea62";
}
.ico-power-cord:before {
  content: "\ea63";
}
.ico-clipboard:before {
  content: "\ea64";
}
.ico-list-numbered:before {
  content: "\ea65";
}
.ico-list:before {
  content: "\ea66";
}
.ico-list2:before {
  content: "\ea67";
}
.ico-tree:before {
  content: "\ea68";
}
.ico-menu:before {
  content: "\ea69";
}
.ico-menu2:before {
  content: "\ea6a";
}
.ico-menu3:before {
  content: "\ea6b";
}
.ico-menu4:before {
  content: "\ea6c";
}
.ico-cloud:before {
  content: "\ea6d";
}
.ico-cloud-download:before {
  content: "\ea6e";
}
.ico-cloud-upload:before {
  content: "\ea6f";
}
.ico-cloud-check:before {
  content: "\ea70";
}
.ico-download2:before {
  content: "\ea71";
}
.ico-upload2:before {
  content: "\ea72";
}
.ico-download3:before {
  content: "\ea73";
}
.ico-upload3:before {
  content: "\ea74";
}
.ico-sphere:before {
  content: "\ea75";
}
.ico-earth:before {
  content: "\ea76";
}
.ico-link:before {
  content: "\ea77";
}
.ico-flag:before {
  content: "\ea78";
}
.ico-attachment:before {
  content: "\ea79";
}
.ico-eye:before {
  content: "\ea7a";
}
.ico-eye-plus:before {
  content: "\ea7b";
}
.ico-eye-minus:before {
  content: "\ea7c";
}
.ico-eye-blocked:before {
  content: "\ea7d";
}
.ico-bookmark:before {
  content: "\ea7e";
}
.ico-bookmarks:before {
  content: "\ea7f";
}
.ico-sun:before {
  content: "\ea80";
}
.ico-contrast:before {
  content: "\ea81";
}
.ico-brightness-contrast:before {
  content: "\ea82";
}
.ico-star-empty:before {
  content: "\ea83";
}
.ico-star-half:before {
  content: "\ea84";
}
.ico-star-full:before {
  content: "\ea85";
}
.ico-heart:before {
  content: "\ea86";
}
.ico-heart-broken:before {
  content: "\ea87";
}
.ico-man:before {
  content: "\ea88";
}
.ico-woman:before {
  content: "\ea89";
}
.ico-man-woman:before {
  content: "\ea8a";
}
.ico-happy:before {
  content: "\ea8b";
}
.ico-happy2:before {
  content: "\ea8c";
}
.ico-smile:before {
  content: "\ea8d";
}
.ico-smile2:before {
  content: "\ea8e";
}
.ico-tongue:before {
  content: "\ea8f";
}
.ico-tongue2:before {
  content: "\ea90";
}
.ico-sad:before {
  content: "\ea91";
}
.ico-sad2:before {
  content: "\ea92";
}
.ico-wink:before {
  content: "\ea93";
}
.ico-wink2:before {
  content: "\ea94";
}
.ico-grin:before {
  content: "\ea95";
}
.ico-grin2:before {
  content: "\ea96";
}
.ico-cool:before {
  content: "\ea97";
}
.ico-cool2:before {
  content: "\ea98";
}
.ico-angry:before {
  content: "\ea99";
}
.ico-angry2:before {
  content: "\ea9a";
}
.ico-evil:before {
  content: "\ea9b";
}
.ico-evil2:before {
  content: "\ea9c";
}
.ico-shocked:before {
  content: "\ea9d";
}
.ico-shocked2:before {
  content: "\ea9e";
}
.ico-baffled:before {
  content: "\ea9f";
}
.ico-baffled2:before {
  content: "\eaa0";
}
.ico-confused:before {
  content: "\eaa1";
}
.ico-confused2:before {
  content: "\eaa2";
}
.ico-neutral:before {
  content: "\eaa3";
}
.ico-neutral2:before {
  content: "\eaa4";
}
.ico-hipster:before {
  content: "\eaa5";
}
.ico-hipster2:before {
  content: "\eaa6";
}
.ico-wondering:before {
  content: "\eaa7";
}
.ico-wondering2:before {
  content: "\eaa8";
}
.ico-sleepy:before {
  content: "\eaa9";
}
.ico-sleepy2:before {
  content: "\eaaa";
}
.ico-frustrated:before {
  content: "\eaab";
}
.ico-frustrated2:before {
  content: "\eaac";
}
.ico-crying:before {
  content: "\eaad";
}
.ico-crying2:before {
  content: "\eaae";
}
.ico-point-up:before {
  content: "\eaaf";
}
.ico-point-right:before {
  content: "\eab0";
}
.ico-point-down:before {
  content: "\eab1";
}
.ico-point-left:before {
  content: "\eab2";
}
.ico-warning:before {
  content: "\eab3";
}
.ico-notification:before {
  content: "\eab4";
}
.ico-question:before {
  content: "\eab5";
}
.ico-plus:before {
  content: "\eab6";
}
.ico-minus:before {
  content: "\eab7";
}
.ico-info:before {
  content: "\eab8";
}
.ico-cancel-circle:before {
  content: "\eab9";
}
.ico-blocked:before {
  content: "\eaba";
}
.ico-cross:before {
  content: "\eabb";
}
.ico-checkmark:before {
  content: "\eabc";
}
.ico-checkmark2:before {
  content: "\eabd";
}
.ico-spell-check:before {
  content: "\eabe";
}
.ico-enter:before {
  content: "\eabf";
}
.ico-exit:before {
  content: "\eac0";
}
.ico-play2:before {
  content: "\eac1";
}
.ico-pause:before {
  content: "\eac2";
}
.ico-stop:before {
  content: "\eac3";
}
.ico-previous:before {
  content: "\eac4";
}
.ico-next:before {
  content: "\eac5";
}
.ico-backward:before {
  content: "\eac6";
}
.ico-forward2:before {
  content: "\eac7";
}
.ico-play3:before {
  content: "\eac8";
}
.ico-pause2:before {
  content: "\eac9";
}
.ico-stop2:before {
  content: "\eaca";
}
.ico-backward2:before {
  content: "\eacb";
}
.ico-forward3:before {
  content: "\eacc";
}
.ico-first:before {
  content: "\eacd";
}
.ico-last:before {
  content: "\eace";
}
.ico-previous2:before {
  content: "\eacf";
}
.ico-next2:before {
  content: "\ead0";
}
.ico-eject:before {
  content: "\ead1";
}
.ico-volume-high:before {
  content: "\ead2";
}
.ico-volume-medium:before {
  content: "\ead3";
}
.ico-volume-low:before {
  content: "\ead4";
}
.ico-volume-mute:before {
  content: "\ead5";
}
.ico-volume-mute2:before {
  content: "\ead6";
}
.ico-volume-increase:before {
  content: "\ead7";
}
.ico-volume-decrease:before {
  content: "\ead8";
}
.ico-loop:before {
  content: "\ead9";
}
.ico-loop2:before {
  content: "\eada";
}
.ico-infinite:before {
  content: "\eadb";
}
.ico-shuffle:before {
  content: "\eadc";
}
.ico-arrow-up-left:before {
  content: "\eadd";
}
.ico-arrow-up:before {
  content: "\eade";
}
.ico-arrow-up-right:before {
  content: "\eadf";
}
.ico-arrow-right:before {
  content: "\eae0";
}
.ico-arrow-down-right:before {
  content: "\eae1";
}
.ico-arrow-down:before {
  content: "\eae2";
}
.ico-arrow-down-left:before {
  content: "\eae3";
}
.ico-arrow-left:before {
  content: "\eae4";
}
.ico-arrow-up-left2:before {
  content: "\eae5";
}
.ico-arrow-up2:before {
  content: "\eae6";
}
.ico-arrow-up-right2:before {
  content: "\eae7";
}
.ico-arrow-right2:before {
  content: "\eae8";
}
.ico-arrow-down-right2:before {
  content: "\eae9";
}
.ico-arrow-down2:before {
  content: "\eaea";
}
.ico-arrow-down-left2:before {
  content: "\eaeb";
}
.ico-arrow-left2:before {
  content: "\eaec";
}
.ico-circle-up:before {
  content: "\eaed";
}
.ico-circle-right:before {
  content: "\eaee";
}
.ico-circle-down:before {
  content: "\eaef";
}
.ico-circle-left:before {
  content: "\eaf0";
}
.ico-tab:before {
  content: "\eaf1";
}
.ico-move-up:before {
  content: "\eaf2";
}
.ico-move-down:before {
  content: "\eaf3";
}
.ico-sort-alpha-asc:before {
  content: "\eaf4";
}
.ico-sort-alpha-desc:before {
  content: "\eaf5";
}
.ico-sort-numeric-asc:before {
  content: "\eaf6";
}
.ico-sort-numberic-desc:before {
  content: "\eaf7";
}
.ico-sort-amount-asc:before {
  content: "\eaf8";
}
.ico-sort-amount-desc:before {
  content: "\eaf9";
}
.ico-command:before {
  content: "\eafa";
}
.ico-shift:before {
  content: "\eafb";
}
.ico-ctrl:before {
  content: "\eafc";
}
.ico-opt:before {
  content: "\eafd";
}
.ico-checkbox-checked:before {
  content: "\eafe";
}
.ico-checkbox-unchecked:before {
  content: "\eaff";
}
.ico-radio-checked:before {
  content: "\eb00";
}
.ico-radio-checked2:before {
  content: "\eb01";
}
.ico-radio-unchecked:before {
  content: "\eb02";
}
.ico-crop:before {
  content: "\eb03";
}
.ico-make-group:before {
  content: "\eb04";
}
.ico-ungroup:before {
  content: "\eb05";
}
.ico-scissors:before {
  content: "\eb06";
}
.ico-filter:before {
  content: "\eb07";
}
.ico-font:before {
  content: "\eb08";
}
.ico-ligature:before {
  content: "\eb09";
}
.ico-ligature2:before {
  content: "\eb0a";
}
.ico-text-height:before {
  content: "\eb0b";
}
.ico-text-width:before {
  content: "\eb0c";
}
.ico-font-size:before {
  content: "\eb0d";
}
.ico-bold:before {
  content: "\eb0e";
}
.ico-underline:before {
  content: "\eb0f";
}
.ico-italic:before {
  content: "\eb10";
}
.ico-strikethrough:before {
  content: "\eb11";
}
.ico-omega:before {
  content: "\eb12";
}
.ico-sigma:before {
  content: "\eb13";
}
.ico-page-break:before {
  content: "\eb14";
}
.ico-superscript:before {
  content: "\eb15";
}
.ico-subscript:before {
  content: "\eb16";
}
.ico-superscript2:before {
  content: "\eb17";
}
.ico-subscript2:before {
  content: "\eb18";
}
.ico-text-color:before {
  content: "\eb19";
}
.ico-pagebreak:before {
  content: "\eb1a";
}
.ico-clear-formatting:before {
  content: "\eb1b";
}
.ico-table:before {
  content: "\eb1c";
}
.ico-table2:before {
  content: "\eb1d";
}
.ico-insert-template:before {
  content: "\eb1e";
}
.ico-pilcrow:before {
  content: "\eb1f";
}
.ico-ltr:before {
  content: "\eb20";
}
.ico-rtl:before {
  content: "\eb21";
}
.ico-section:before {
  content: "\eb22";
}
.ico-paragraph-left:before {
  content: "\eb23";
}
.ico-paragraph-center:before {
  content: "\eb24";
}
.ico-paragraph-right:before {
  content: "\eb25";
}
.ico-paragraph-justify:before {
  content: "\eb26";
}
.ico-indent-increase:before {
  content: "\eb27";
}
.ico-indent-decrease:before {
  content: "\eb28";
}
.ico-share:before {
  content: "\eb29";
}
.ico-new-tab:before {
  content: "\eb2a";
}
.ico-embed:before {
  content: "\eb2b";
}
.ico-embed2:before {
  content: "\eb2c";
}
.ico-terminal:before {
  content: "\eb2d";
}
.ico-share2:before {
  content: "\eb2e";
}
.ico-mail:before {
  content: "\eb2f";
}
.ico-mail2:before {
  content: "\eb30";
}
.ico-mail3:before {
  content: "\eb31";
}
.ico-mail4:before {
  content: "\eb32";
}
.ico-amazon:before {
  content: "\eb33";
}
.ico-google:before {
  content: "\eb34";
}
.ico-google2:before {
  content: "\eb35";
}
.ico-google3:before {
  content: "\eb36";
}
.ico-google-plus:before {
  content: "\eb37";
}
.ico-google-plus2:before {
  content: "\eb38";
}
.ico-google-plus3:before {
  content: "\eb39";
}
.ico-hangouts:before {
  content: "\eb3a";
}
.ico-google-drive:before {
  content: "\eb3b";
}
.ico-facebook:before {
  content: "\eb3c";
}
.ico-facebook2:before {
  content: "\eb3d";
}
.ico-instagram:before {
  content: "\eb3e";
}
.ico-whatsapp:before {
  content: "\eb3f";
}
.ico-spotify:before {
  content: "\eb40";
}
.ico-telegram:before {
  content: "\eb41";
}
.ico-twitter:before {
  content: "\eb42";
}
.ico-vine:before {
  content: "\eb43";
}
.ico-vk:before {
  content: "\eb44";
}
.ico-renren:before {
  content: "\eb45";
}
.ico-sina-weibo:before {
  content: "\eb46";
}
.ico-rss:before {
  content: "\eb47";
}
.ico-rss2:before {
  content: "\eb48";
}
.ico-youtube:before {
  content: "\eb49";
}
.ico-youtube2:before {
  content: "\eb4a";
}
.ico-twitch:before {
  content: "\eb4b";
}
.ico-vimeo:before {
  content: "\eb4c";
}
.ico-vimeo2:before {
  content: "\eb4d";
}
.ico-lanyrd:before {
  content: "\eb4e";
}
.ico-flickr:before {
  content: "\eb4f";
}
.ico-flickr2:before {
  content: "\eb50";
}
.ico-flickr3:before {
  content: "\eb51";
}
.ico-flickr4:before {
  content: "\eb52";
}
.ico-dribbble:before {
  content: "\eb53";
}
.ico-behance:before {
  content: "\eb54";
}
.ico-behance2:before {
  content: "\eb55";
}
.ico-deviantart:before {
  content: "\eb56";
}
.ico-500px:before {
  content: "\eb57";
}
.ico-steam:before {
  content: "\eb58";
}
.ico-steam2:before {
  content: "\eb59";
}
.ico-dropbox:before {
  content: "\eb5a";
}
.ico-onedrive:before {
  content: "\eb5b";
}
.ico-github:before {
  content: "\eb5c";
}
.ico-npm:before {
  content: "\eb5d";
}
.ico-basecamp:before {
  content: "\eb5e";
}
.ico-trello:before {
  content: "\eb5f";
}
.ico-wordpress:before {
  content: "\eb60";
}
.ico-joomla:before {
  content: "\eb61";
}
.ico-ello:before {
  content: "\eb62";
}
.ico-blogger:before {
  content: "\eb63";
}
.ico-blogger2:before {
  content: "\eb64";
}
.ico-tumblr:before {
  content: "\eb65";
}
.ico-tumblr2:before {
  content: "\eb66";
}
.ico-yahoo:before {
  content: "\eb67";
}
.ico-yahoo2:before {
  content: "\eb68";
}
.ico-tux:before {
  content: "\eb69";
}
.ico-appleinc:before {
  content: "\eb6a";
}
.ico-finder:before {
  content: "\eb6b";
}
.ico-android:before {
  content: "\eb6c";
}
.ico-windows:before {
  content: "\eb6d";
}
.ico-windows8:before {
  content: "\eb6e";
}
.ico-soundcloud:before {
  content: "\eb6f";
}
.ico-soundcloud2:before {
  content: "\eb70";
}
.ico-skype:before {
  content: "\eb71";
}
.ico-reddit:before {
  content: "\eb72";
}
.ico-hackernews:before {
  content: "\eb73";
}
.ico-wikipedia:before {
  content: "\eb74";
}
.ico-linkedin:before {
  content: "\eb75";
}
.ico-linkedin2:before {
  content: "\eb76";
}
.ico-lastfm:before {
  content: "\eb77";
}
.ico-lastfm2:before {
  content: "\eb78";
}
.ico-delicious:before {
  content: "\eb79";
}
.ico-stumbleupon:before {
  content: "\eb7a";
}
.ico-stumbleupon2:before {
  content: "\eb7b";
}
.ico-stackoverflow:before {
  content: "\eb7c";
}
.ico-pinterest:before {
  content: "\eb7d";
}
.ico-pinterest2:before {
  content: "\eb7e";
}
.ico-xing:before {
  content: "\eb7f";
}
.ico-xing2:before {
  content: "\eb80";
}
.ico-flattr:before {
  content: "\eb81";
}
.ico-foursquare:before {
  content: "\eb82";
}
.ico-yelp:before {
  content: "\eb83";
}
.ico-paypal:before {
  content: "\eb84";
}
.ico-chrome:before {
  content: "\eb85";
}
.ico-firefox:before {
  content: "\eb86";
}
.ico-IE:before {
  content: "\eb87";
}
.ico-edge:before {
  content: "\eb88";
}
.ico-safari:before {
  content: "\eb89";
}
.ico-opera:before {
  content: "\eb8a";
}
.ico-file-pdf:before {
  content: "\eb8b";
}
.ico-file-openoffice:before {
  content: "\eb8c";
}
.ico-file-word:before {
  content: "\eb8d";
}
.ico-file-excel:before {
  content: "\eb8e";
}
.ico-libreoffice:before {
  content: "\eb8f";
}
.ico-html-five:before {
  content: "\eb90";
}
.ico-html-five2:before {
  content: "\eb91";
}
.ico-css3:before {
  content: "\eb92";
}
.ico-git:before {
  content: "\eb93";
}
.ico-codepen:before {
  content: "\eb94";
}
.ico-svg:before {
  content: "\eb95";
}
.ico-IcoMoon:before {
  content: "\eb96";
}
.ico-box1:before {
  content: "\eb97";
}
.ico-write:before {
  content: "\eb98";
}
.ico-clock3:before {
  content: "\eb99";
}
.ico-reply1:before {
  content: "\eb9a";
}
.ico-reply-all:before {
  content: "\eb9b";
}
.ico-forward1:before {
  content: "\eb9c";
}
.ico-flag1:before {
  content: "\eb9d";
}
.ico-search1:before {
  content: "\eb9e";
}
.ico-trash:before {
  content: "\eb9f";
}
.ico-envelope:before {
  content: "\eba0";
}
.ico-bubble1:before {
  content: "\eba1";
}
.ico-bubbles1:before {
  content: "\eba2";
}
.ico-user2:before {
  content: "\eba3";
}
.ico-users1:before {
  content: "\eba4";
}
.ico-cloud2:before {
  content: "\eba5";
}
.ico-download4:before {
  content: "\eba6";
}
.ico-upload4:before {
  content: "\eba7";
}
.ico-rain1:before {
  content: "\eba8";
}
.ico-sun1:before {
  content: "\eba9";
}
.ico-moon:before {
  content: "\ebaa";
}
.ico-bell1:before {
  content: "\ebab";
}
.ico-folder1:before {
  content: "\ebac";
}
.ico-pin1:before {
  content: "\ebad";
}
.ico-sound:before {
  content: "\ebae";
}
.ico-microphone1:before {
  content: "\ebaf";
}
.ico-camera2:before {
  content: "\ebb0";
}
.ico-image2:before {
  content: "\ebb1";
}
.ico-cog2:before {
  content: "\ebb2";
}
.ico-calendar2:before {
  content: "\ebb3";
}
.ico-book2:before {
  content: "\ebb4";
}
.ico-map-marker:before {
  content: "\ebb5";
}
.ico-store:before {
  content: "\ebb6";
}
.ico-support:before {
  content: "\ebb7";
}
.ico-tag:before {
  content: "\ebb8";
}
.ico-heart1:before {
  content: "\ebb9";
}
.ico-video-camera1:before {
  content: "\ebba";
}
.ico-trophy1:before {
  content: "\ebbb";
}
.ico-cart1:before {
  content: "\ebbc";
}
.ico-eye2:before {
  content: "\ebbd";
}
.ico-cancel:before {
  content: "\ebbe";
}
.ico-chart1:before {
  content: "\ebbf";
}
.ico-target2:before {
  content: "\ebc0";
}
.ico-printer1:before {
  content: "\ebc1";
}
.ico-location1:before {
  content: "\ebc2";
}
.ico-bookmark1:before {
  content: "\ebc3";
}
.ico-monitor:before {
  content: "\ebc4";
}
.ico-cross1:before {
  content: "\ebc5";
}
.ico-plus2:before {
  content: "\ebc6";
}
.ico-left:before {
  content: "\ebc7";
}
.ico-up:before {
  content: "\ebc8";
}
.ico-browser:before {
  content: "\ebc9";
}
.ico-windows1:before {
  content: "\ebca";
}
.ico-switch1:before {
  content: "\ebcb";
}
.ico-dashboard:before {
  content: "\ebcc";
}
.ico-play4:before {
  content: "\ebcd";
}
.ico-fast-forward:before {
  content: "\ebce";
}
.ico-next1:before {
  content: "\ebcf";
}
.ico-refresh:before {
  content: "\ebd0";
}
.ico-film1:before {
  content: "\ebd1";
}
.ico-home4:before {
  content: "\ebd2";
}
